.apps {
  margin-top: 368px;

  h1 {
    width: 500px;
    height: 264px;
    background-image: url(../assets/images/apps_headline.png);
    transform: translateX(17px);
  }

  .infos {
    margin-top: 36px;
    margin-left: 82px;
  }
}

.apps .figures {
  display: flex;
  height: 788px;

  & > div {
    flex-grow: 1;
    position: relative;
  }

  .figure-masterclass {
    figure {
      transform: translate(578px, -431px);
      figcaption {
        width: 100px;
        height: 25px;
        background-image: url(../assets/images/apps_masterclass_caption.png);
        transform: translate(26px, 690px);
      }
    }
  }
  .figure-adobe {
    figure {
      transform: translate(-515px, 85px);
      figcaption {
        width: 105px;
        height: 24px;
        background-image: url(../assets/images/apps_adobe_caption.png);
        transform: translate(544px, 514px);
      }
    }
  }
  .figure-fantasian {
    figure {
      transform: translate(-103px, 318px);
      figcaption {
        width: 74px;
        height: 22px;
        background-image: url(../assets/images/apps_fantasian_caption.png);
        transform: translate(24px, 483px);
      }
    }
  }
  .figure-books {
    figure {
      transform: translate(-133px, -150px);
      figcaption {
        width: 50px;
        height: 27px;
        background-image: url(../assets/images/apps_books_caption.png);
        transform: translate(397px, 707px);
      }
    }
  }
  .figure-goodnotes {
    figure {
      transform: translate(-93px, 68px);
      figcaption {
        width: 99px;
        height: 26px;
        background-image: url(../assets/images/apps_goodnotes_caption.png);
        transform: translate(24px, 690px);
      }
    }
  }
}

@media (max-width: 1000px) {
  .apps {
    margin-top: 120px;
    h1 {
      width: 390px;
      height: 208px;
      transform: none;
    }
    .infos {
      margin-left: 0;
      .info {
        max-width: 404px;
      }
    }
  }
  
  .apps .figures {
    height: 450px;
    .figure-masterclass {
      figure {
        transform: translate(438px, -264px);
        img {
          width: 330px;
        }
        figcaption {
          transform: scale(.8) translate(6px, 480px);
        }
      }
    }
    .figure-adobe {
      figure {
        transform: translate(-230px, 20px);
        img {
          width: 438px;
        }
        figcaption {
          transform: scale(.8) translate(324px, 355px);
        }
      }
    }
    .figure-fantasian {
      figure {
        transform: translate(-40px, 160px);
        img {
          width: 438px;
        }
        figcaption {
          transform: scale(.8) translate(14px, 339px);
        }
      }
    }
    .figure-books {
      figure {
        transform: translate(42px, -94px);
        img {
          width: 330px;
        }
        figcaption {
          transform: scale(.8) translate(253px, 493px);
        }
      }
    }
    .figure-goodnotes {
      figure {
        transform: translate(3px, 28px);
        img {
          width: 346px;
        }
        figcaption {
          transform: scale(.8) translate(5px, 483px);
        }
      }
    }
  }
  
}

@media (max-width: 740px) {
  .apps {
    h1 {
      width: 320px;
      height: 169px;
      margin: 0 auto;
    }
    .infos {
      .info {
        max-width: none;
      }
    }
  }
  
  .apps .figures {
    display: block;
    height: auto;
    &>div {
      display: flex;
      justify-content: center;
      height: 240px;
    }
    .figure-masterclass {
      figure {
        transform: translate(140px, 40px);
        img {
          width: 270px;
        }
        figcaption {
          transform: scale(.8) translate(29px, 400px);
        }
      }
    }
    .figure-adobe {
      figure {
        transform: translate(-154px, -126px);
        img {
          width: 358px;
        }
        figcaption {
          transform: scale(.8) translate(233px, 295px);
        }
      }
    }
    .figure-fantasian {
      figure {
        transform: translate(19px, -82px);
        img {
          width: 358px;
        }
        figcaption {
          transform: scale(.8) translate(24px, 282px);
        }
      }
    }
    .figure-books {
      figure {
        transform: translate(-100px, -40px);
        img {
          width: 270px;
        }
        figcaption {
          transform: scale(.8) translate(197px, 407px);
        }
      }
    }
    .figure-goodnotes {
      figure {
        transform: translate(132px, -110px);
        img {
          width: 286px;
        }
        figcaption {
          transform: scale(.8) translate(24px, -37px);
        }
      }
    }
  }
  
}