.camera {
  margin-top: 303px;

  .stage {
    position: relative;

    h1 {
      width: 650px;
      height: 450px;
      background-image: url(../assets/images/camera_headline.png);
      transform: translateX(-25px);
    }

    .info {
        position: absolute;
        top: 150px;
        right: 0;
    }

    .figures {
        height: 770px;
        margin-top: 24px;

        figure {
            transform: translateX(90px);
            
            figcaption {
                width: 130px;
                height: 110px;
                background-image: url(../assets/images/camera_hardware_caption.png);
                transform: translate(-116px, 383px);
            }
        }
    }
  }
}

/* EDIT */
.camera .edit {
    .figures {
        height: 910px;

        figure {
            transform: translateX(20px);

            figcaption {
                width: 130px;
                height: 47px;
                background-image: url(../assets/images/camera_edit_caption.png);
                transform: translate(27px, 905px);
            }
        }
    }
}