html.fixed {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

body {
    font-size: 16px;
    line-height: 1;
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    word-break: keep-all;
    color: #1d1d1d;


    height: 10000px;
}

.inner {
  max-width: 1020px;
  margin: 0 auto;
  position: relative;
}

a {
  text-decoration: none;
  color: #1d1d1d;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 0 10px;
  border: none;
  border-radius: 100px;
  outline: none;
  font-size: 11px;
  line-height: 1;
  color: #fff;
  background-color: #0071E3;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }

  &:focus {
    box-shadow: 0 0 0 4px #81B9F1;
  }
}