/* HERO */
.hero {
    background-color: var(--color-section);
  .inner {
    padding-bottom: 110px;

    h1 {
        width: 221px;
        height: 91px;
        background-image: url(../assets/images/hero_ipad_text.png);
        position: absolute;
        transform: translate(624px, 235px);
        z-index: 1;
    }

    h2 {
        width: 738px;
        height: 145px;
        margin: 0 auto;
        background-image: url(../assets/images/hero_headline.png);
    }

    .pricing {
        margin-top: 40px;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }
    .description {
        width: 88%;
        margin: 18px auto 0;
        font-size: 19px;
        text-align: center;
        
    }

    .links {
        margin-top: 30px;
    }
  }
}

/* FIGURES */
.hero .figures {
    height: 808px;

    figure {
        transform: translate(74px, -64px);

        figcaption {
            .caption-camera {
                transform: translate(43px, 580px);
                background-image: url(../assets/images/hero_ipad_caption_camera.png);
                width: 120px;
                height: 84px;
            }
            .caption-chip {
                transform: translate(589px, 426px);
                background-image: url(../assets/images/hero_ipad_caption_chip.png);
                width: 95px;
                height: 43px;
            }
            .caption-storage {
                transform: translate(627px, 504px);
                background-image: url(../assets/images/hero_ipad_caption_storage.png);
                width: 80px;
                height: 43px
            }
        }
    }
}

@media (max-width: 1000px) {
    .hero .inner {
        padding-bottom: 80px;
    }

    .hero .inner h1 {
        width: 166px;
        height: 68px;
        transform: translate(455px, 117px);
    }

    .hero .inner .figures {
        height: 584px;
        margin-bottom: 14px;
    }
    .hero .inner figure {
        transform: translate(70px, -24px);
    }
    .hero .inner figure img {
        width: 540px;
    }
    .hero .inner figure figcaption .caption-camera {
        transform: scale(.8) translate(-9px, 524px);
    }
    .hero .inner figure figcaption .caption-chip {
        transform: scale(.8) translate(510px, 322px);
    }
    .hero .inner figure figcaption .caption-storage {
        transform: scale(.8) translate(556px, 400px);
    }
    .hero .inner h2 {
        width: 515px;
        height: 95px;
    }
}

@media (max-width: 740px) {
    .hero .inner {
        padding-top: 40px;
    }
    .hero .inner h1 {
        margin: 0 auto 40px;
        transform: none;
        position: static;
    }
    .hero .inner .figures {
        height: auto;
        margin-bottom: 100px;
    }
    .hero .inner figure {
        transform: none;
    }
    .hero .inner figure img {
        width: 337px;
    }
    .hero .inner figure figcaption .caption-camera {
        background-image: url(../assets/images/hero_ipad_caption_camera_mobile.png);
        width: 180px;
        height: 37px;
        transform: scale(1) translate(21px, 368px);
    }
    .hero .inner figure figcaption .caption-chip {
        transform: scale(.8) translate(248px, 0);
    }
    .hero .inner figure figcaption .caption-storage {
        transform: scale(.8) translate(280px, 100px);
    }
    .hero .inner h2 {
        width: 295px;
        height: 185px;
        background-image: url(../assets/images/hero_headline_mobile.png);
    }
    .hero.inner p.pricing {
        font-size: 20px;
    }
    .hero.inner p.description {
        font-size: 17px;
        width: auto;
    }
}