@import 'reset-css';
@import './common.css';
@import './header.css';

header {
    background-color: #3a3a3a;

    .inner {
        max-width: 1020px;
        margin: 0 auto;

    }
    .menu {
        height: 44px;
        display: flex;
        justify-content: space-between;

        li {
            display: flex;
            a {
                padding: 0 10px;
                font-size: 11px;
                display: flex;
                align-items: center;
                color: #f5f5f5;
                opacity: .8;
                text-decoration: none;
                
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}